.friends {
  position: absolute;
  margin-left: 70px;
  top: 85px;
  width: 100%;
}

.friends__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  background-color: white;
  height: 60px;
}

.friends__column:hover {
  background-color: whitesmoke;
}
.friends .friends__title {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.5;
  border-top: 1px solid #f7f7f7;
  margin: 0px;
  padding: 20px 40px 10px 13px;
}

.friend__name {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}
.friend__avatar {
  width: 43px;
  height: 43px;
  object-fit: cover;
  border-radius: 40%;
  margin-left: 13px;
}
.l-avatar {
  width: 54px;
  height: 54px;
}
